.category-button a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #e22d30;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.category-button a:hover {
  background-color: #c12726;
}
